/* i know i need to add more font types for greater
browser compatibility, but woffs will do for now */

@font-face {
  font-family: elephant;
  src: url(MAXIMO__.woff);
}

body {
  position: absolute;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: elephant;
  font-variant: small-caps;
  letter-spacing: 3px;
}

section {
  text-align: center;
}

ul {
  padding: 0;
  vertical-align: middle;
}

li {
  display: inline-block;
  margin: 0 5px;
}

h2 {
  display: table;
  height: 200px;
  font-size: 123px;
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 100%;
}

a:hover {
  color: rgb(24,214,167);
}

#pipe, h2 {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  margin-right: 14px;
  width: 5px;
  height: 100px;
}

#pipe {
  background-color: #000;
}

.pipe-space {
  width: 35px;
  background-color: rgba(0, 0, 0, 0);
}

img {
  display: block;
  margin: 15px auto 0;
  z-index: 300;
}

.vanessa-pyne-logo {
  width: 237px;
}

.index-link {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.webglol {
  transform: rotate(-0.30deg);
  font-family: sans-serif;
  text-align: left;
  font-size: 16px;
}

.logo {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 600;
  text-align: center;
}

.social-media {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  /*visibility: hidden;*/
}

footer {
  height: 5em;
  margin-top: .5em;
}

.invisible {
  display: none;
}

.icon {
  margin-bottom: -5px;
}

#cv {
  font-size: 16px;
}

.content {
  text-align: center;
}



/*   *   *  INDEX  *   *   */

.index {
  transform: rotate(-0.99deg);
  margin: 30px 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.main {
  display: table-cell;
  font-size: 60%;
}

#dyptic-reel,
#dyptic-code {
  letter-spacing: 40px !important;
}



/*   *   *   CODE   *   *   */

.code {
  position: relative;
  margin: 30px auto;
}

.code-list {
  z-index: 10000;
}

.small-pic {
  margin-top: 5px !important;
}

.center {
}

.project {
  margin: auto;
  height: 100%;
  width: 150px;
  line-height: 75%;
  text-align: left;
  padding: 10px;
}

.github-streak {
  text-align: center !important;
  padding: 10px, 0;
}

#vimeo,
#shot-list {
  font-size: 16px;
  text-align: center;
  font-family: arial;
  letter-spacing: 4px;
  color: rgb(128,128,128);
}

#vimeo:hover,
#shot-list:hover {
  color: rgb(24,214,167);
}

.site {
  font-size: 12px;
  letter-spacing: 3px;
}

.language {
  font-family: arial;
  font-size: 12px;
  letter-spacing: 3px;
  text-align: left;
  margin: 8px 0;
}

.limit {
  max-width: 650px;
  margin: 0 auto;
}

/*   *   *   REEL   *   *   */

.reel {
  background-color: rgb(1,1,1);
}

video {
  width: 100%    !important;
  height: auto   !important;
}

.video-reel {
  margin: 20px auto 0;
  max-height: 540px;
  max-width: 960px;
}

.foot-spacer {
  height: 30px;
  max-width: 300px;
  min-width: 100px;
  margin-top: 3px;
}

.working-papers {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  color: rgb(125,125,125);
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.bg {
  background-image: url("../img/bg.png");
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}


/*   *   *  @MEDIA  *   *   */

@media only screen and (max-width: 500px) {
  .bg {
    background-size: 135% auto;
  }
}

@media only screen and (max-width: 930px) {
  .index {
    /*margin: -1% 0 0;*/
  }
  h2 {
    font-size: 11vw;
  }
  #pipe {
    width: 14%;
    height: 20vw;
  }
}