<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>vanessa pyne | code</title>
    <meta name="keywords" content="vanessa pyne, pyne, ruby, RoR, web developer, motion graphics, freelance, design, designer, animator, javascript, new york, san francisco, ny, sf">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body class="main">
  <div class="all-wrap">

    <div class="logo">
      <a class="index-link" href="/"><img class="vanessa-pyne-logo" src="img/vip-grey.png"></a>
    </div>

    <div class="github">poop <%= @streak %></div>

    <section class="code">
      <ul class="code-list">
        <li class="center">
          <div class="table-cell">
            <a class="site" href="http://printstacard.herokuapp.com" target="_blank">#printstacard<img class="border small-pic" src="img/print.png"></a><a class="site" href="http://github.com/vipyne/orphan-crazy-eyes/tree/3-4-14" target="_blank">on github</a>
          </div>
        </li>
        <li class="center">
          <div class="table-cell">
            <a class="site" href="http://votetext.herokuapp.com" target="_blank">untitled vote text project<img class="border small-pic" src="img/vote.png"></a><a class="site" href="http://github.com/vipyne/getVoteText_play" target="_blank">on github</a>
          </div>
        </li>
        <li class="center">
          <div class="table-cell">
            <a class="site" href="http://pimp-my-meme.herokuapp.com" target="_blank">pimp my meme<img class="border small-pic" src="img/pimp.png"></a><a class="site" href="http://github.com/fox-squirrels-2013/DVM/tree/van-12-9-13" target="_blank">on github</a>
          </div>
        </li>
      </ul>
    </section>

  </div>
  <footer class="social-media">
    <div class="foot-width">
      <ul class="social">
        <li>
          <div class="foot-spacer right-align">
            <a class="working-papers" href="img/VanessaPyneResume_6-5-14.pdf" target="_blank">CV</a>
          </div>
        </li>
        <li>
          <a class="working-papers" href="http://github.com/vipyne" target="_blank"><img class="icon" src="img/github-grey.png" width="30" height="30"></a>
        </li>
        <li>
          <a class="working-papers" href="http://twitter.com/vipyne" target="_blank"><img class="icon" src="img/twitter-grey.png" width="30" height="30"></a>
        </li>
        <li>
          <a class="working-papers" href="http://instagram.com/vipyne" target="_blank"><img class="icon" src="img/instagram-grey.png" width="30" height="30"></a>
        </li>
        <li>
          <div class="foot-spacer left-align">
            <a class="working-papers" href="http://linkedin.com/in/vanessapyne" target="_blank">LINKEDIN</a>
          </div>
        </li>
      </ul>
    </div>
  </footer>
  <script src="js/main.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-52799782-1', 'auto');
  ga('send', 'pageview');
  </script>
</body>
</html>
