<!DOCTYPE html>
<html class='resume'>
<head>
  <meta charset="utf-8">
  <title>\/anessa pyne</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <meta name="viewport" content="width=device-width">
</head>
<body class="main">
  <header>
    <div class="main-nav">
      <nav>
        <section class="dyptic">
          <img src="img/vip-white.png">
          <ul>
            <li>
              <h2><a href="reel/index.html">REEL</a></h2>
            </li>
            <li>
              <h2><div id="pipe"></div></h2>
            </li>
            <li>
              <h2><a href="code.html">CODE</a></h2>
            </li>
          </ul>
        </section>
      </nav>
    </div>
    <div class="bg"></div>
  </header>
</body>
</html>