<!DOCTYPE html>
<html class='resume'>
<head>
  <meta charset="utf-8">
  <title>vanessa pyne</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body class="main">
  <div class="all-wrap">

    <div class="logo">
      <img class="vanessa-pyne-logo" src="img/vip-grey.png">
    </div>

    <section class="index">
      <nav>
        <section class="dyptic">
          <ul>
            <li>
              <h2><a class="main" href="reel.html">REEL</a></h2>
            </li>
            <li>
              <h2><div id="pipe"></div></h2>
            </li>
            <li>
              <h2><a class="main" href="code.html">CODE</a></h2>
            </li>
          </ul>
        </section>
      </nav>
    </section>

  </div>
  <footer class="social-media">
    <ul class="social">
      <li>
        <a class="working-papers" href="http://github.com/vipyne" target="_blank"><img class="icon" src="img/github-grey.png" width="30" height="30"></a>
      </li>
      <li>
        <a class="working-papers" href="http://twitter.com/vipyne" target="_blank"><img class="icon" src="img/twitter-grey.png" width="30" height="30"></a>
      </li>
      <li>
        <a class="working-papers" href="http://instagram.com/vipyne" target="_blank"><img class="icon" src="img/instagram-grey.png" width="30" height="30"></a>
      </li>
    </ul>
  </footer>
  <script src="js/main.js"></script>
</body>
</html>