<!DOCTYPE html>
<html class='resume reel'>
<head>
  <meta charset="utf-8">
  <title>reel | vanessa pyne</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body class="main">
  <div class="all-wrap">

    <div class="logo">
      <a class="index-link" href="/"><img class="vanessa-pyne-logo" src="img/vip-grey.png"></a>
    </div>

<div class="video-reel">
  <video width="960" height="540" controls>
    <source src="img/vanessapynereel2014.mp4" type="video/mp4">
  your browser does not support the HTML5 video tag :( check out my reel on <a href="http://vimeo.com/99774169">vimeo</a>
  </video>
</div>

<div class="push"></div>
  </div>
  <footer class="social-media">
    <div class="foot-width">
      <ul class="social">
        <li>
          <div class="foot-spacer right-align">
            <a class="working-papers" href="img/VanessaPyneResume_6-5-14.pdf" target="_blank">CV</a>
          </div>
        </li>
        <li>
          <a class="working-papers" href="http://github.com/vipyne" target="_blank"><img class="icon" src="img/github-grey.png" width="30" height="30"></a>
        </li>
        <li>
          <a class="working-papers" href="http://twitter.com/vipyne" target="_blank"><img class="icon" src="img/twitter-grey.png" width="30" height="30"></a>
        </li>
        <li>
          <a class="working-papers" href="http://instagram.com/vipyne" target="_blank"><img class="icon" src="img/instagram-grey.png" width="30" height="30"></a>
        </li>
        <li>
          <div class="foot-spacer left-align">
            <a class="working-papers" href="img/VanessaPyneShotSheet070813.pdf" target="_blank">SHOTLIST</a>
          </div>
        </li>
      </ul>
    </div>
  </footer>

</body>
</html>